/* Margen superior e inferior para el contenido de cada página dentro de <div ng-view>*/
[ng-view]{
	/*margin-top: 4.5em;*/
	/*margin-bottom: 0;*/
}

/* Footer en la parte inferior*/
/*.footer{
	bottom: 0;
	margin-top: 2em;
	padding: 1em 0;
	background-color: #efefef;
}*/

/*Tabla con la ficha de catalogación dentro del componente dialog*/
.my-table-md-dialog{
	border-collapse: collapse;
}
.my-table-md-dialog tr{
	border-top: 1px solid rgba(0,0,0,0.15);
}
.my-table-md-dialog tr td{
	padding: 10px 5px;
}
.my-table-md-dialog tr:first-child{
	border-top: none;
}

/*Subseccion dentro de los formularios*/
.my-form-subsection{
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	padding: 0 12px;
	margin-bottom: 2em;
}