/* Margen superior e inferior para el contenido de cada página dentro de <div ng-view>*/
[ng-view]{
	margin-top: 3em;
	margin-bottom: 3em;
}

/* Footer en la parte inferior*/
/*.footer{
	bottom: 0;
	margin-top: 2em;
	padding: 1em 0;
	background-color: #efefef;
}*/

/*Tabla con la ficha de catalogación dentro del componente dialog*/
.my-table-md-dialog{
	border-collapse: collapse;
}
.my-table-md-dialog tr{
	border-top: 1px solid rgba(0,0,0,0.15);
}
.my-table-md-dialog tr td{
	padding: 10px 5px;
}
.my-table-md-dialog tr:first-child{
	border-top: none;
}

/*Subseccion dentro de los formularios*/
.my-form-subsection{
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	padding: 0 12px;
	margin-bottom: 2em;
}

/*Evita que los botones queden transparentes cuando el color de fondo es oscuro*/
.trix-button-group{
	background-color: white;
}

/*Disminuir ligeramente el tamaño del mapa para evitar recortarlo*/
ng-map > div{
	height: 90% !important;
}

/*Breadcrumbs: menú navegación horizontal al mostrar conjuntos y unidades*/
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}
.crumb a::after {
    display: inline-block;
    content: '>';
    font-weight: bold;
    padding: 0 0 0 2em;
}