<div layout="row" layout-wrap layout-align="center">
	<div flex="80">
		<h2 class="md-display-2" ng-if="!edit">Nuevo conjunto documental</h2>
		<h2 class="md-display-2" ng-if="edit">Editar conjunto documental</h2>
	</div>

	<div flex="80">
		<md-content>
			<form name="conjuntoDocumentalForm">

				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Identificación">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Código de referencia</label>
									<input required name="codigoReferencia" ng-model="conjuntoDocumental.identificacion.codigoReferencia" disabled>
									<div ng-messages="conjuntoDocumentalForm.codigoReferencia.$error">
										<div ng-message="required">Este campo es obligatorio.</div>
									</div>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Título</label>
									<input required name="titulo" ng-model="conjuntoDocumental.identificacion.titulo">
									<div ng-messages="conjuntoDocumentalForm.titulo.$error">
										<div ng-message="required">Este campo es obligatorio.</div>
									</div>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Referencia de procedencia</label>
									<input ng-model="conjuntoDocumental.identificacion.institucion">
								</md-input-container>

								<md-input-container class="md-block">
									<label>Nivel de descripción</label>
									<md-select ng-model="conjuntoDocumental.identificacion.nivelDescripcion">
										<md-option value="Fondo">Fondo</md-option>
										<md-option value="Subfondo">Subfondo</md-option>
										<md-option value="Serie">Serie</md-option>
										<md-option value="Subserie">Subserie</md-option>
										<md-option value="Unidad documental compuesta">Unidad documental compuesta</md-option>
									</md-select>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Productor</label>
									<input ng-model="conjuntoDocumental.identificacion.productor">
								</md-input-container>

								<div ng-repeat="autor in conjuntoDocumental.identificacion.autores">
									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Autor</label>
											<input ng-model="autor.nombre" ng-blur="agregarAutor(autor.nombre)">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Tipo de autor</label>
											<md-select ng-model="autor.tipo">
												<md-option value="Fotógrafo">Fotógrafo</md-option>
												<md-option value="Editor">Editor</md-option>
												<md-option value="Productor">Productor</md-option>
												<md-option value="Comitente">Comitente</md-option>
												<md-option value="Impresor">Impresor</md-option>
												<md-option value="Taller de imprenta">Taller de imprenta</md-option>
												<md-option value="Dibujante">Dibujante</md-option>
												<md-option value="Dirección">Dirección</md-option>
												<md-option value="Responsable">Responsable</md-option>
												<md-option value="Levantamiento">Levantamiento</md-option>
												<md-option value="Litógrafo">Litógrafo</md-option>
											</md-select>
										</md-input-container>
									</div>
								</div>

								<!-- <md-input-container class="md-block">
									<label>Conjunto de pertenencia</label>
									<input ng-model="conjuntoDocumental.identificacion.conjuntoPertenencia">
								</md-input-container> -->
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Contexto">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Historia institucional / biográfica</label>
									<textarea ng-model="conjuntoDocumental.contexto.historiaInstitucionalBiografica"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Historia archivística</label>
									<textarea ng-model="conjuntoDocumental.contexto.historiaArchivoProcedencia"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Forma de ingreso</label>
									<md-select ng-model="conjuntoDocumental.contexto.formaIngreso" multiple>
										<md-option value="Producción propia">Producción propia</md-option>
										<md-option value="Reproducciones">Reproducciones</md-option>
										<md-option value="Préstamos">Préstamos</md-option>
										<md-option value="Donaciones">Donaciones</md-option>
										<md-option value="Compra">Compra</md-option>
										<md-option value="Intercambio">Intercambio</md-option>
									</md-select>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Estructura y contenido">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Alcance y contenido</label>
									<textarea ng-model="conjuntoDocumental.estructuraContenido.alcanceContenido"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Valoración y selección en el archivo de procedencia</label>
									<textarea ng-model="conjuntoDocumental.estructuraContenido.valoracionSeleccionEliminacion"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Nuevos ingresos en el archivo de procedencia</label>
									<textarea ng-model="conjuntoDocumental.estructuraContenido.nuevosIngresos"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Organización</label>
									<textarea ng-model="conjuntoDocumental.estructuraContenido.organizacion"></textarea>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Condiciones de acceso">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Condiciones de acceso</label>
									<textarea ng-model="conjuntoDocumental.condicionesAcceso.condicionesAcceso"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Condiciones de reproducción</label>
									<textarea ng-model="conjuntoDocumental.condicionesAcceso.condicionesReproduccion"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Características físicas</label>
									<textarea ng-model="conjuntoDocumental.condicionesAcceso.caracteristicasFisicas"></textarea>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Estado de conservación</label>
									<textarea ng-model="conjuntoDocumental.condicionesAcceso.estadoConservacion"></textarea>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Documentación asociada">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Serie fotográfica con igual manufactura</label>
									<input ng-model="conjuntoDocumental.documentacionAsociada.serieFotograficaIgualManufactura"></input>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Registros base</label>
									<input ng-model="conjuntoDocumental.documentacionAsociada.registrosBase"></input>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Reprografías</label>
									<input ng-model="conjuntoDocumental.documentacionAsociada.reprografias"></input>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Grabados relacionados</label>
									<input ng-model="conjuntoDocumental.documentacionAsociada.grabadosRelacionados"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Publicaciones">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Publicación</label>
									<input ng-model="conjuntoDocumental.publicaciones.publicacion"></input>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Exposición</label>
									<input ng-model="conjuntoDocumental.publicaciones.exposicion"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Notas">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Notas</label>
									<textarea ng-model="conjuntoDocumental.notas.notas"></textarea>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Control de la descripción">
						<md-content layout-padding>
							<div>
								<!-- <md-input-container class="md-block">
									<label>Documentalistas</label>
									<md-chips ng-model="conjuntoDocumental.controlDescripcion.documentalistas"></md-chips>
								</md-input-container> -->
								<!-- <md-input-container class="md-block">
									<label>Documentalistas</label>
									<input ng-model="conjuntoDocumental.controlDescripcion.documentalistas"></input>
								</md-input-container> -->
								<md-input-container class="md-block">
									<label>Reglas o normas</label>
									<input ng-model="conjuntoDocumental.controlDescripcion.reglasNormas"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Datos adicionales">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Imagen</label>
									<input type="file" accept="image/*" ng-model="conjuntoDocumental.adicional.imagen" onchange="angular.element(this).scope().uploadFile(this)">
									<div ng-show="conjuntoDocumental.adicional.imagen">
										<img id="img-preview" ng-src="{{'files/imagenes/' + conjuntoDocumental.adicional.imagen}}" style="max-width: 100%; height: auto;">
										<br>
										<md-button class="md-warn" ng-click="borrarImagen()">Borrar imagen</md-button>
									</div>
								</md-input-container>
								<h3 class="md-subhead"><strong>Presentación</strong></h3>
								<trix-editor angular-trix ng-model="conjuntoDocumental.adicional.presentacion" class="trix-content"></trix-editor>
							</div>
						</md-content>
					</md-tab>
				</md-tabs>

				<md-button type="submit" class="md-raised md-primary" ng-if="!edit" ng-click="enviarConjuntoDocumental()">Crear conjunto documental</md-button>
				<md-button type="submit" class="md-raised md-primary" ng-if="edit" ng-click="editarConjuntoDocumental()">Editar conjunto documental</md-button>
			</form>
		</md-content>
	</div>
</div>

<!-- <br>
<pre>{{conjuntoDocumental | json}}</pre> -->
