<div layout="row" layout-align="center start">
	<div flex="90">

		<nav class="crumbs" ng-if="breadcrumb.length != 0">
			<ol>
				<li class="crumb"><md-button ng-href="/conjunto?c=">{{nombreColeccion}}</md-button></li>
				<li ng-repeat="conjunto in breadcrumb" class="crumb" ng-if="!$last"><md-button ng-href="/conjunto?c={{conjunto.numeracion}}" target="_self">{{conjunto.identificacion.titulo}}</md-button></li>
				<li class="crumb"><md-button ng-disabled="true">{{breadcrumb[breadcrumb.length-1].identificacion.titulo}}</md-button></li>
			</ol>
		</nav>


		<md-grid-list md-cols="4" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-row-height="1:1" md-gutter="1em">
			<md-grid-tile ng-repeat="conjunto in conjuntosDocumentales" ng-click="showConjuntoTabDialog($event, conjunto._id)" style="background: rgba(183, 183, 183, 0); cursor: pointer;">
				<picture style="height: 100%">
					<source media="(min-width: 1280px)" ng-srcset="files/imagenes/resize/{{conjunto.adicional.imagen}}_sm.jpg">
					<img ng-if="conjunto.adicional.imagen" ng-src="{{'files/imagenes/resize/' + conjunto.adicional.imagen + '_xs.jpg'}}" style="object-fit: contain; height: 100%; width: 100%">
				</picture>
				<md-grid-tile-footer style="background: rgba(0,0,0,0.5); height: 64px;">
					<div style="position: absolute; left: 0; right: 1em; top: 1em; bottom: 0; overflow: auto;">
						<h3 md-truncate>{{conjunto.identificacion.titulo}}</h3>
					</div>
					<div layout="row" layout-align="space-between start" style="position: absolute; left: 0; right: 1em; top: 2em; bottom: 0; overflow: auto;">
						<div flex="50"><h3 md-truncate>{{conjunto.identificacion.codigoReferencia}}</h3></div>
						<div flex ng-if="conjunto.identificacion.fecha"><h3 md-truncate>{{conjunto.identificacion.fecha.inicio | date:'yyyy'}} <span ng-if="conjunto.identificacion.fecha.fin">- {{conjunto.identificacion.fecha.fin | date:'yyyy'}}</span></h3></div>
					</div>
				</md-grid-tile-footer>
				<i class="material-icons" style="position: absolute; top: 0; right: 0; font-size: 2.5em;">collections</i>
			</md-grid-tile>
		</md-grid-list>

		<section layout="row" layout-align="end center" layout-wrap>
			<md-button class="md-raised md-primary" ng-if="!isLeaf" ng-show="user && user.permisos.create" ng-click="crearConjunto()">Agregar conjunto</md-button>
			<md-button class="md-raised md-primary" ng-if="isLeaf || !isEmpty" ng-show="user && user.permisos.create" ng-click="crearUnidad()">Agregar unidad</md-button>
		</section>
	</div>
</div>

<!-- <br>
<pre>{{conjuntosDocumentales | json}}</pre> -->
