<div layout="row" layout-align="center">
	<div flex="80">
		<h1 class="md-display-3">Lorem ipsum dolor sit amet</h1>
		<p class="md-body-2">
			Aenean purus mi, congue vitae feugiat eget, ornare a enim. Sed mollis lacinia faucibus.
			<md-divider></md-divider>
			Fusce tempus diam vitae placerat semper. Aliquam a odio malesuada, pretium est vitae, interdum ligula. Donec sit amet est sit amet odio malesuada lobortis a et magna. Nullam mollis, quam ut lobortis facilisis, ipsum augue congue mauris, sit amet vestibulum metus mi id odio. Ut mattis maximus iaculis. Nunc sodales ex eget ipsum ultrices, sed congue arcu congue. Quisque facilisis dui vitae vestibulum euismod. Vivamus eu rutrum mi, ut vestibulum sapien.
		</p>
		<md-button class="md-raised md-primary" ng-click="crearConjunto()">Crear conjunto documental</md-button>
	</div>
</div>