<div layout="row" layout-align="center">
	<div flex="80">
		<h1 class="md-display-2">Catalogación fotográfica para la investigación social</h1>
		<p>
			El <a href="http://lais.mora.edu.mx" class="md-accent md-hue-1" target="_blank">Laboratorio Audiovisual de Investigación Social (LAIS)</a> del Instituto Mora ha diseñado una ficha de catalogación de material fotográfico para la investigación social con el fin de apoyar la investigación, gestión y acceso al patrimonio visual.
		</p>
		<p>
			Este proyecto nace como alternativa de software libre para apoyar el trabajo que se realiza en espacios de investigación, catalogación, educación y cualquier otro en donde los usos y reflexiones sobre materiales fotográficos en un eje central del trabajo a desarrollar.
		</p>
		<p>
			La propuesta se basa en el estándar de catalogación multinivel <a href="https://www.ica.org/sites/default/files/isad%20g%20SP.pdf" class="md-accent md-hue-1" target="_blank">ISAD(G)</a> que permite organizar la información en una estructura jerárquica de lo general a lo particular y que está estructurada en 7 áreas:
			<ul>
				<li>Área de identificación</li>
				<li>Área de contexto</li>
				<li>Área de contenido y estructura</li>
				<li>Área de condiciones de acceso y utilización</li>
				<li>Área de documentación asociada</li>
				<li>Área de notas</li>
				<li>Área de control de descripción</li>
			</ul>
		</p>

		<md-button class="md-raised md-primary" ng-click="crearConjunto()" ng-show="user">Crear conjunto documental</md-button>
		<md-button class="md-raised" ng-href="/conjunto?c=" ng-show="!user">Explorar conjuntos documentales</md-button>
	</div>
</div>