<div layout="row" layout-align="center start">
	<div flex="90">

		<nav class="crumbs">
			<ol>
				<li class="crumb"><md-button ng-href="/conjunto?c=">{{nombreColeccion}}</md-button></li>
				<li ng-repeat="conjunto in breadcrumb" class="crumb" ng-if="!$last"><md-button ng-href="/conjunto?c={{conjunto.numeracion}}" target="_self">{{conjunto.identificacion.titulo}}</md-button></li>
				<li class="crumb"><md-button ng-disabled="true">{{breadcrumb[breadcrumb.length-1].identificacion.titulo}}</md-button></li>
			</ol>
		</nav>

		<md-grid-list md-cols="4" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-row-height="1:1" md-gutter="1em">
			<md-grid-tile ng-repeat="unidad in unidadesDocumentales" ng-click="showTabDialog($event, unidad._id)" style="background: rgba(183, 183, 183, 0); cursor: pointer;">
				<picture style="height: 100%"> <!--Para que "layout-fill" en "img" funcione, requiere que sus contenedores tengan definido "height" -->
					<source media="(min-width: 1280px)" ng-srcset="files/imagenes/resize/{{unidad.identificacion.codigoReferencia}}_sm.jpg">
					<img ng-if="unidad.adicional.imagen" ng-src="files/imagenes/resize/{{unidad.identificacion.codigoReferencia}}_xs.jpg" style="object-fit: contain; height: 100%; width: 100%">
				</picture>
				<md-grid-tile-footer style="background: rgba(0,0,0,0.5);">
					<div style="position: absolute; left: 0; right: 1em; top: 1em; bottom: 0; overflow: auto;">
						<h3 md-truncate>{{unidad.identificacion.codigoReferencia}}</h3>
					</div>
				</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
		<section layout="row" layout-align="end center" layout-wrap>
			<md-button class="md-raised md-primary" ng-show="user && user.permisos.create" ng-click="crearUnidad()">Agregar unidad</md-button>
		</section>
	</div>
</div>

<!-- <br>
<pre>{{unidadesDocumentales | json}}</pre> -->
