<div layout="row" layout-wrap layout-align="center">
	<div flex="80">
		<h2 class="md-display-2" ng-if="!edit">Nueva unidad documental</h2>
		<h2 class="md-display-2" ng-if="edit">Editar unidad documental</h2>
	</div>
	
	<div flex="80">
		<md-content>
			<form name="unidadDocumentalForm">
			
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Identificación">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Código de referencia</label>
									<input required name="codigoReferencia" ng-model="unidadDocumental.identificacion.codigoReferencia" disabled>
									<div ng-messages="unidadDocumentalForm.codigoReferencia.$error">
										<div ng-message="required">Este campo es obligatorio.</div>
									</div>
								</md-input-container>

								<md-input-container class="md-block">
									<label>Referencia de procedencia</label>
									<input ng-model="unidadDocumental.identificacion.referenciaProcedencia">
								</md-input-container>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Título generado por el archivo de procedencia</label>
										<input ng-model="unidadDocumental.identificacion.titulo.archivoProcedencia">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Título inscrito</label>
										<input ng-model="unidadDocumental.identificacion.titulo.inscrito">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Título a partir de otro objeto</label>
										<input ng-model="unidadDocumental.identificacion.titulo.otroObjeto">
									</md-input-container>
								</div>

								<md-input-container class="md-block">
									<label>Fecha</label>
									<md-datepicker ng-model="unidadDocumental.identificacion.fecha"></md-datepicker>
								</md-input-container>

								<div ng-repeat="autor in unidadDocumental.identificacion.autores">
									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Autor</label>
											<input ng-model="autor.nombre" ng-blur="agregarAutor(autor.nombre)">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Tipo de autor</label>
											<md-select ng-model="autor.tipo">
												<md-option value="Fotógrafo">Fotógrafo</md-option>
												<md-option value="Editor">Editor</md-option>
												<md-option value="Productor">Productor</md-option>
												<md-option value="Comitente">Comitente</md-option>
												<md-option value="Impresor">Impresor</md-option>
												<md-option value="Taller de imprenta">Taller de imprenta</md-option>
												<md-option value="Dibujante">Dibujante</md-option>
												<md-option value="Dirección">Dirección</md-option>
												<md-option value="Responsable">Responsable</md-option>
												<md-option value="Levantamiento">Levantamiento</md-option>
												<md-option value="Litógrafo">Litógrafo</md-option>
												<md-option value="Grabador">Grabador</md-option>
											</md-select>
										</md-input-container>
									</div>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Estructura y contenido">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Estructura formal</label>
									<input ng-model="unidadDocumental.estructuraContenido.estructuraFormal">
									<!-- <md-select ng-model="unidadDocumental.estructuraContenido.estructuraFormal">
										<md-option value="Paisaje">Paisaje</md-option>
										<md-option value="Paisaje rural">Paisaje rural</md-option>
										<md-option value="Paisaje urbano">Paisaje urbano</md-option>
										<md-option value="Paisaje industrial">Paisaje industrial</md-option>
										<md-option value="Roster">Roster</md-option>
										<md-option value="Escena">Escena</md-option>
										<md-option value="Retrato">Retrato</md-option>
										<md-option value="Monumento arqueológico">Monumento arqueológico</md-option>
										<md-option value="Arquitectura">Arquitectura</md-option>
									</md-select> -->
								</md-input-container>

								<div class="my-form-subsection">
									<h3 class="md-subhead"><strong>Encuadre</strong></h3>
									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Orientación</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.orientacion">
												<md-option value="Horizontal">Horizontal</md-option>
												<md-option value="Vertical">Vertical</md-option>
											</md-select>
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Plano</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.plano">
												<md-option value="Gran plano general">Gran plano general</md-option>
												<md-option value="Plano general">Plano general</md-option>
												<md-option value="Plano entero">Plano entero</md-option>
												<md-option value="Plano americano">Plano americano</md-option>
												<md-option value="Plano medio">Plano medio</md-option>
												<md-option value="Primer plano">Primer plano</md-option>
												<md-option value="Detalle">Detalle</md-option>
											</md-select>
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Ángulo de la cámara</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.anguloCamara">
												<md-option value="Normal">Normal</md-option>
												<md-option value="Picado">Picado</md-option>
												<md-option value="Contrapicado">Contrapicado</md-option>
												<md-option value="Nadir">Nadir</md-option>
												<md-option value="Cenital">Cenital</md-option>
											</md-select>
										</md-input-container>
									</div>

									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Nivel de la cámara</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.nivelCamara">
												<md-option value="A nivel">A nivel</md-option>
												<md-option value="Bajo">Bajo</md-option>
												<md-option value="Alto">Alto</md-option>
											</md-select>
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Tipo de cámara</label>
											<input ng-model="unidadDocumental.estructuraContenido.encuadre.tipoCamara">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Edición de la imágen</label>
											<input ng-model="unidadDocumental.estructuraContenido.encuadre.edicionImagen">
										</md-input-container>
									</div>
								</div>


								<md-input-container class="md-block">
									<label>Descripción</label>
									<textarea ng-model="unidadDocumental.estructuraContenido.descripcion"></textarea>
								</md-input-container>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Fotografía tomada desde</label>
										<input ng-model="unidadDocumental.estructuraContenido.tomadaDesde">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Fotografía tomada hacia</label>
										<input ng-model="unidadDocumental.estructuraContenido.tomadaHacia">
									</md-input-container>
								</div>

								<md-input-container class="md-block" ng-if="isGoogleDefined">
									<label>Lugar descrito</label>
									<input places-auto-complete ng-model="unidadDocumental.estructuraContenido.lugarDescrito.formattedAddress" on-place-changed="placeChanged()" placeholder="">
									<ng-map center="19.3760674,-99.1871402" zoom="15">
										<marker position="{{unidadDocumental.estructuraContenido.lugarDescrito.location}}" animation="DROP" draggable="true" on-dragend="getPosition($event)" visible="{{unidadDocumental.estructuraContenido.lugarDescrito.location ? true : false}}"></marker>
									</ng-map>
									<br>
									<md-button class="md-warn" ng-click="borrarLugar()" ng-show="unidadDocumental.estructuraContenido.lugarDescrito">Borrar ubicación</md-button>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Características físicas">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Tipo</label>
									<md-select ng-model="unidadDocumental.caracteristicasFisicas.tipo">
										<md-option value="Positivo">Positivo</md-option>
										<md-option value="Negativo">Negativo</md-option>
										<md-option value="Imagen digital">Imagen digital</md-option>
										<md-option value="Imagen de cámara">Imagen de cámara</md-option>
										<md-option value="Pintura">Pintura</md-option>
										<md-option value="Grabado">Grabado</md-option>
										<md-option value="Litografía">Litografía</md-option>
										<md-option value="Reprografía">Reprografía</md-option>
										<md-option value="Fotomecánico">Fotomecánico</md-option>
										<md-option value="Transparencia">Transparencia</md-option>
									</md-select>
								</md-input-container>

								<div class="my-form-subsection">
									<h3 class="md-subhead"><strong>Soporte primario</strong></h3>
									<md-input-container class="md-block">
										<label>Materiales</label>
										<input ng-model="unidadDocumental.caracteristicasFisicas.soportePrimario.materiales">
									</md-input-container>

									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (ancho)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soportePrimario.dimension.ancho">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (alto)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soportePrimario.dimension.alto">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Unidad de medida</label>
											<md-select ng-model="unidadDocumental.caracteristicasFisicas.soportePrimario.dimension.unidad">
												<md-option value="cm">cm</md-option>
												<md-option value="in">in</md-option>
											</md-select>
										</md-input-container>
									</div>

									<!-- Inscripciones -->
									<div ng-repeat="inscripcion in unidadDocumental.caracteristicasFisicas.soportePrimario.inscripciones">
										<div layout-gt-sm="row">
											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (transcripción)</label>
												<input ng-model="inscripcion.transcripcion" ng-blur="agregaInscripcionPrimario(inscripcion.transcripcion)">
											</md-input-container>

											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (ubicación)</label>
												<input ng-model="inscripcion.ubicacion">
											</md-input-container>
										</div>
									</div>
								</div>

								<div class="my-form-subsection">
									<h3 class="md-subhead"><strong>Soporte secundario</strong></h3>
									<md-input-container class="md-block">
										<label>Materiales</label>
										<input ng-model="unidadDocumental.caracteristicasFisicas.soporteSecundario.materiales">
									</md-input-container>

									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (ancho)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soporteSecundario.dimension.ancho">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (alto)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soporteSecundario.dimension.alto">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Unidad de medida</label>
											<md-select ng-model="unidadDocumental.caracteristicasFisicas.soporteSecundario.dimension.unidad">
												<md-option value="cm">cm</md-option>
												<md-option value="in">in</md-option>
											</md-select>
										</md-input-container>
									</div>

									<!-- Inscripciones -->
									<div ng-repeat="inscripcion in unidadDocumental.caracteristicasFisicas.soporteSecundario.inscripciones">
										<div layout-gt-sm="row">
											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (transcripción)</label>
												<input ng-model="inscripcion.transcripcion" ng-blur="agregaInscripcionSecundario(inscripcion.transcripcion)">
											</md-input-container>

											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (ubicación)</label>
												<input ng-model="inscripcion.ubicacion">
											</md-input-container>
										</div>
									</div>
								</div>

								<div layout-gt-sm="row" ng-repeat="sello in unidadDocumental.caracteristicasFisicas.sellos">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Sellos (transcripción)</label>
										<input ng-model="sello.transcripcion" ng-blur="agregarSello(sello.transcripcion)">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Sellos (ubicación)</label>
										<input ng-model="sello.ubicacion">
									</md-input-container>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Documentación asociada">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaMismoNegativo">
									<label>Fotografía creada a partir del mismo negativo</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaMismoNegativo(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaBase">
									<label>Fotografía base</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaBase(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.reprografia">
									<label>Reprografía</label>
									<input ng-model="value.text" ng-blur="agregarReprografia(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaMismaSecuencia">
									<label>Fotografía de la misma secuencia</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaMismaSecuencia(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaConsecutiva">
									<label>Fotografía consecutiva</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaConsecutiva(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaConsecutivaOtraCamara">
									<label>Fotografía consecutiva con otra cámara</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaConsecutivaOtraCamara(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaEncuadreSimilar">
									<label>Fotografía con encuadre similar</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaEncuadreSimilar(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.grabadoRelacionado">
									<label>Grabado relacionado</label>
									<input ng-model="value.text" ng-blur="agregarGrabadoRelacionado(value.text)"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Publicaciones">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block" ng-repeat="value in auxiliar.publicaciones">
									<label>Publicación</label>
									<input ng-model="value.text" ng-blur="agregarPublicacion(value.text)">
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.exposicion">
									<label>Exposición</label>
									<input ng-model="value.text" ng-blur="agregarExposicion(value.text)"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Notas">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Notas</label>
									<textarea ng-model="unidadDocumental.notas.notas"></textarea>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<!-- <md-tab label="Control de la descripción">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Documentalistas</label>
									<input ng-model="unidadDocumental.controlDescripcion.documentalistas"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab> -->
					<md-tab label="Datos adicionales">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Imagen</label>
									<input type="file" accept="image/*" ng-model="unidadDocumental.adicional.imagen" onchange="angular.element(this).scope().uploadFile(this)">
									<div ng-show="unidadDocumental.adicional.imagen">
										<img id="img-preview" ng-src="{{'files/imagenes/' + unidadDocumental.adicional.imagen}}" style="max-width: 100%; height: auto;">
										<br>
										<md-button class="md-warn" ng-click="borrarImagen()">Borrar imagen</md-button>
									</div>
								</md-input-container>

								<md-input-container class="md-block">
									<!-- <label>Visibilidad</label> -->
									<md-checkbox ng-model="unidadDocumental.adicional.isPublic">
										La unidad documental es pública
									</md-checkbox>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
				</md-tabs>

				<md-button type="submit" class="md-raised md-primary" ng-if="!edit" ng-click="enviarUnidadDocumental()">Guardar unidad documental</md-button>
				<md-button type="submit" class="md-raised" ng-if="!edit" ng-click="enviarUnidadDocumental(true)">Guardar y crear nuevo</md-button>
				<md-button type="submit" class="md-raised md-primary" ng-if="edit" ng-click="editarUnidadDocumental()">Editar unidad documental</md-button>
			</form>
		</md-content>
	</div>
</div>

<!-- <br>
<pre>{{unidadDocumental | json}}</pre> -->