<div layout="row" layout-wrap layout-align="center">
	<div flex="80">
		<h2 class="md-display-2" ng-if="!edit">Nueva unidad documental</h2>
		<h2 class="md-display-2" ng-if="edit">Editar unidad documental</h2>
	</div>
	
	<div flex="80">
		<md-content>
			<form name="unidadDocumentalForm">
			
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Identificación">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Código de referencia</label>
									<input required name="codigoReferencia" ng-model="unidadDocumental.identificacion.codigoReferencia" disabled>
									<div ng-messages="unidadDocumentalForm.codigoReferencia.$error">
										<div ng-message="required">Este campo es obligatorio.</div>
									</div>
								</md-input-container>

								<md-autocomplete flex
										md-items="queryValue in autocomplete(searchTextReferenciaProcedencia, 'identificacion.referenciaProcedencia')" 
										md-search-text="searchTextReferenciaProcedencia" 
										md-selected-item="unidadDocumental.identificacion.referenciaProcedencia"
										md-item-text="queryValue" 
										md-require-match="false"
										md-floating-label="Referencia de procedencia" 
										md-dropdown-items="3"
										ng-blur="unidadDocumental.identificacion.referenciaProcedencia = searchTextReferenciaProcedencia">
									<md-item-template>
										<span md-highlight-text="searchTextReferenciaProcedencia">{{queryValue}}</span>
									</md-item-template>
								</md-autocomplete>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Título generado por el archivo de procedencia</label>
										<input ng-model="unidadDocumental.identificacion.titulo.archivoProcedencia">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Título inscrito</label>
										<input ng-model="unidadDocumental.identificacion.titulo.inscrito">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Título a partir de otro objeto</label>
										<input ng-model="unidadDocumental.identificacion.titulo.otroObjeto">
									</md-input-container>
								</div>

								<!-- <md-input-container class="md-block">
									<label>Fecha</label>
									<md-datepicker ng-model="unidadDocumental.identificacion.fecha"></md-datepicker>
								</md-input-container> -->

								<md-input-container class="md-block" flex="100" flex-gt-xs="50">
									<label>Agregar fecha</label>
									<md-select ng-model="tipoDeFecha" ng-change="clearDate()">
										<md-option md-option-empty></md-option>
										<md-option value="Exacta">Exacta</md-option>
										<md-option value="Periodo">Periodo</md-option>
										<md-option value="Aproximada">Aproximada</md-option>
									</md-select>
								</md-input-container>

								<md-input-container class="md-block" ng-show="tipoDeFecha == 'Exacta'">
									<label>Fecha</label>
									<md-datepicker ng-model="unidadDocumental.identificacion.fecha.exacta"></md-datepicker>
								</md-input-container>

								<div layout="row" layout-sm="column" layout-xs="column" layout-wrap ng-show="tipoDeFecha == 'Periodo'">
									<md-input-container class="md-icon-float md-block" flex-xs="90" flex-gt-xs="50" flex-gt-sm="20" flex-offset="5">
										<label>Año inicial</label>
										<md-icon><i class="material-icons">event</i></md-icon>
										<input ng-model="auxiliar.fecha.periodo.inicio" ng-pattern="/^[1,2][0-9]{3}$/" ng-blur="validateDate()">
									</md-input-container>

									<md-input-container class="md-icon-float md-block" flex-xs="90" flex-gt-xs="50" flex-gt-sm="20" flex-offset="5">
										<label>Año final</label>
										<md-icon><i class="material-icons">event</i></md-icon>
										<input ng-model="auxiliar.fecha.periodo.fin" ng-pattern="/^[1,2][0-9]{3}$/" ng-blur="validateDate()">
									</md-input-container>
								</div>

								<md-input-container class="md-icon-float md-block" ng-show="tipoDeFecha == 'Aproximada'" flex="100" flex-gt-xs="50" flex-gt-sm="20" flex-offset="5">
									<label>Año aproximado</label>
									<md-icon><i class="material-icons">event</i></md-icon>
									<input ng-model="auxiliar.fecha.aproximada" ng-pattern="/^[1,2][0-9]{3}$/" ng-blur="validateDate()">
								</md-input-container>

								<div ng-repeat="autor in unidadDocumental.identificacion.autores">
									<div layout-gt-sm="row">
										<!-- <md-input-container class="md-block" flex-gt-sm>
											<label>Autor</label>
											<input ng-model="autor.nombre" ng-blur="agregarAutor(autor.nombre)">
										</md-input-container> -->
										<md-autocomplete flex
												md-items="queryValue in autocomplete(searchTextAutor, 'identificacion.autores.nombre')" 
												md-search-text="searchTextAutor" 
												md-selected-item="autor.nombre"
												md-item-text="queryValue" 
												md-require-match="false"
												md-floating-label="Autor" 
												md-dropdown-items="3"
												ng-blur="autor.nombre = searchTextAutor; agregarAutor(autor.nombre)">
											<md-item-template>
												<span md-highlight-text="searchTextAutor">{{queryValue}}</span>
											</md-item-template>
										</md-autocomplete>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Tipo de autor</label>
											<md-select ng-model="autor.tipo">
												<md-option value="Fotógrafo">Fotógrafo</md-option>
												<md-option value="Editor">Editor</md-option>
												<md-option value="Productor">Productor</md-option>
												<md-option value="Comitente">Comitente</md-option>
												<md-option value="Impresor">Impresor</md-option>
												<md-option value="Taller de imprenta">Taller de imprenta</md-option>
												<md-option value="Dibujante">Dibujante</md-option>
												<md-option value="Dirección">Dirección</md-option>
												<md-option value="Responsable">Responsable</md-option>
												<md-option value="Levantamiento">Levantamiento</md-option>
												<md-option value="Litógrafo">Litógrafo</md-option>
												<md-option value="Grabador">Grabador</md-option>
											</md-select>
										</md-input-container>
									</div>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Estructura y contenido">
						<md-content layout-padding>
							<div>
								<md-autocomplete flex
										md-items="queryValue in autocomplete(searchTextEstructuraFormal, 'estructuraContenido.estructuraFormal')" 
										md-search-text="searchTextEstructuraFormal" 
										md-selected-item="unidadDocumental.estructuraContenido.estructuraFormal"
										md-item-text="queryValue" 
										md-require-match="false"
										md-floating-label="Estructura formal" 
										md-dropdown-items="3"
										ng-blur="unidadDocumental.estructuraContenido.estructuraFormal = searchTextEstructuraFormal">
									<md-item-template>
										<span md-highlight-text="searchTextEstructuraFormal">{{queryValue}}</span>
									</md-item-template>
								</md-autocomplete>

								<div class="my-form-subsection">
									<h3 class="md-subhead"><strong>Encuadre</strong></h3>
									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Orientación</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.orientacion" ng-blur="unidadDocumental.estructuraContenido.encuadre.orientacion = unidadDocumental.estructuraContenido.encuadre.orientacion ? unidadDocumental.estructuraContenido.encuadre.orientacion : undefined">
												<md-option value="Horizontal">Horizontal</md-option>
												<md-option value="Vertical">Vertical</md-option>
												<md-option md-option-empty></md-option>
											</md-select>
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Plano</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.plano" ng-blur="unidadDocumental.estructuraContenido.encuadre.plano = unidadDocumental.estructuraContenido.encuadre.plano ? unidadDocumental.estructuraContenido.encuadre.plano : undefined">
												<md-option value="Gran plano general">Gran plano general</md-option>
												<md-option value="Plano general">Plano general</md-option>
												<md-option value="Plano entero">Plano entero</md-option>
												<md-option value="Plano americano">Plano americano</md-option>
												<md-option value="Plano medio">Plano medio</md-option>
												<md-option value="Primer plano">Primer plano</md-option>
												<md-option value="Detalle">Detalle</md-option>
												<md-option md-option-empty></md-option>
											</md-select>
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Ángulo de la cámara</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.anguloCamara" ng-blur="unidadDocumental.estructuraContenido.encuadre.anguloCamara = unidadDocumental.estructuraContenido.encuadre.anguloCamara ? unidadDocumental.estructuraContenido.encuadre.anguloCamara : undefined">
												<md-option value="Normal">Normal</md-option>
												<md-option value="Picado">Picado</md-option>
												<md-option value="Contrapicado">Contrapicado</md-option>
												<md-option value="Nadir">Nadir</md-option>
												<md-option value="Cenital">Cenital</md-option>
												<md-option md-option-empty></md-option>
											</md-select>
										</md-input-container>
									</div>

									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Nivel de la cámara</label>
											<md-select ng-model="unidadDocumental.estructuraContenido.encuadre.nivelCamara" ng-blur="unidadDocumental.estructuraContenido.encuadre.nivelCamara = unidadDocumental.estructuraContenido.encuadre.nivelCamara ? unidadDocumental.estructuraContenido.encuadre.nivelCamara : undefined">
												<md-option value="A nivel">A nivel</md-option>
												<md-option value="Bajo">Bajo</md-option>
												<md-option value="Alto">Alto</md-option>
												<md-option md-option-empty></md-option>
											</md-select>
										</md-input-container>

										<md-autocomplete flex
												md-items="queryValue in autocomplete(searchTextTipoCamara, 'estructuraContenido.encuadre.tipoCamara')" 
												md-search-text="searchTextTipoCamara" 
												md-selected-item="unidadDocumental.estructuraContenido.encuadre.tipoCamara"
												md-item-text="queryValue" 
												md-require-match="false"
												md-floating-label="Tipo de cámara" 
												md-dropdown-items="3"
												ng-blur="unidadDocumental.estructuraContenido.encuadre.tipoCamara = searchTextTipoCamara">
											<md-item-template>
												<span md-highlight-text="searchTextTipoCamara">{{queryValue}}</span>
											</md-item-template>
										</md-autocomplete>

										<md-autocomplete flex
												md-items="queryValue in autocomplete(searchTextEdicionImagen, 'estructuraContenido.encuadre.edicionImagen')" 
												md-search-text="searchTextEdicionImagen" 
												md-selected-item="unidadDocumental.estructuraContenido.encuadre.edicionImagen"
												md-item-text="queryValue" 
												md-require-match="false"
												md-floating-label="Edición de la imagen" 
												md-dropdown-items="3"
												ng-blur="unidadDocumental.estructuraContenido.encuadre.edicionImagen = searchTextEdicionImagen">
											<md-item-template>
												<span md-highlight-text="searchTextEdicionImagen">{{queryValue}}</span>
											</md-item-template>
										</md-autocomplete>
									</div>
								</div>


								<md-input-container class="md-block">
									<label>Descripción</label>
									<textarea ng-model="unidadDocumental.estructuraContenido.descripcion"></textarea>
								</md-input-container>

								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Fotografía tomada desde</label>
										<input ng-model="unidadDocumental.estructuraContenido.tomadaDesde">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Fotografía tomada hacia</label>
										<input ng-model="unidadDocumental.estructuraContenido.tomadaHacia">
									</md-input-container>
								</div>

								<!-- <md-input-container class="md-block" ng-if="isGoogleDefined">
									<label>Lugar descrito</label>
									<input places-auto-complete ng-model="unidadDocumental.estructuraContenido.lugarDescrito.formattedAddress" on-place-changed="placeChanged()" placeholder="">
									<ng-map center="19.3760674,-99.1871402" zoom="15">
										<marker position="{{unidadDocumental.estructuraContenido.lugarDescrito.location}}" animation="DROP" draggable="true" on-dragend="getPosition($event)" visible="{{unidadDocumental.estructuraContenido.lugarDescrito.location ? true : false}}"></marker>
									</ng-map>
									<br>
									<md-button class="md-warn" ng-click="borrarLugar()" ng-show="unidadDocumental.estructuraContenido.lugarDescrito">Borrar ubicación</md-button>
								</md-input-container> -->


								<div class="my-form-subsection">
									<h3 class="md-subhead"><strong>Lugar</strong></h3>

									<div layout="row" layout-wrap>
										<md-input-container class="md-block" flex-gt-sm="100" flex="100" style="margin-bottom: 0">
											<label>Lugar descrito</label>
											<input places-auto-complete ng-model="unidadDocumental.estructuraContenido.lugarDescrito.formattedAddress" on-place-changed="placeChanged()" placeholder="">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm="50" flex="100" style="margin-bottom: 0" ng-show="unidadDocumental.estructuraContenido.lugarDescrito.location.lat">
											<label>Latitud</label>
											<input type="number" ng-model="unidadDocumental.estructuraContenido.lugarDescrito.location.lat" disabled>
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm="50" flex="100" style="margin-bottom: 0" ng-show="unidadDocumental.estructuraContenido.lugarDescrito.location.lat">
											<label>Longitud</label>
											<input type="number" ng-model="unidadDocumental.estructuraContenido.lugarDescrito.location.lng" disabled>
										</md-input-container>
									</div>

									<md-input-container class="md-block" ng-if="isGoogleDefined">
										<ng-map center="19.3760674,-99.1871402" zoom="15">
											<marker position="{{unidadDocumental.estructuraContenido.lugarDescrito.location}}" animation="DROP" draggable="true" on-dragend="getPosition($event)" visible="{{unidadDocumental.estructuraContenido.lugarDescrito.location ? true : false}}"></marker>
										</ng-map>
										<br>
										<md-button class="md-warn" ng-click="borrarLugar()" ng-show="unidadDocumental.estructuraContenido.lugarDescrito">Borrar ubicación</md-button>
									</md-input-container>
								</div>

							</div>
						</md-content>
					</md-tab>
					<md-tab label="Características físicas">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Tipo</label>
									<md-select ng-model="unidadDocumental.caracteristicasFisicas.tipo">
										<md-option value="Positivo">Positivo</md-option>
										<md-option value="Negativo">Negativo</md-option>
										<md-option value="Imagen digital">Imagen digital</md-option>
										<md-option value="Imagen de cámara">Imagen de cámara</md-option>
										<md-option value="Pintura">Pintura</md-option>
										<md-option value="Grabado">Grabado</md-option>
										<md-option value="Litografía">Litografía</md-option>
										<md-option value="Reprografía">Reprografía</md-option>
										<md-option value="Fotomecánico">Fotomecánico</md-option>
										<md-option value="Transparencia">Transparencia</md-option>
									</md-select>
								</md-input-container>

								<div class="my-form-subsection">
									<h3 class="md-subhead"><strong>Soporte primario</strong></h3>
									<md-autocomplete flex
											md-items="queryValue in autocomplete(searchTextMaterialPrimario, 'caracteristicasFisicas.soportePrimario.materiales')" 
											md-search-text="searchTextMaterialPrimario" 
											md-selected-item="unidadDocumental.caracteristicasFisicas.soportePrimario.materiales"
											md-item-text="queryValue" 
											md-require-match="false"
											md-floating-label="Materiales" 
											md-dropdown-items="3"
											ng-blur="unidadDocumental.caracteristicasFisicas.soportePrimario.materiales = searchTextMaterialPrimario">
										<md-item-template>
											<span md-highlight-text="searchTextMaterialPrimario">{{queryValue}}</span>
										</md-item-template>
									</md-autocomplete>

									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (ancho)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soportePrimario.dimension.ancho">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (alto)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soportePrimario.dimension.alto">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Unidad de medida</label>
											<md-select ng-model="unidadDocumental.caracteristicasFisicas.soportePrimario.dimension.unidad">
												<md-option value="cm">cm</md-option>
												<md-option value="in">in</md-option>
											</md-select>
										</md-input-container>
									</div>

									<!-- Inscripciones -->
									<div ng-repeat="inscripcion in unidadDocumental.caracteristicasFisicas.soportePrimario.inscripciones">
										<div layout-gt-sm="row">
											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (transcripción)</label>
												<input ng-model="inscripcion.transcripcion" ng-blur="agregaInscripcionPrimario(inscripcion.transcripcion)">
											</md-input-container>

											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (ubicación)</label>
												<input ng-model="inscripcion.ubicacion">
											</md-input-container>
										</div>
									</div>
								</div>

								<div class="my-form-subsection">
									<h3 class="md-subhead"><strong>Soporte secundario</strong></h3>
									<md-autocomplete flex
											md-items="queryValue in autocomplete(searchTextMaterialSecundario, 'caracteristicasFisicas.soporteSecundario.materiales')" 
											md-search-text="searchTextMaterialSecundario" 
											md-selected-item="unidadDocumental.caracteristicasFisicas.soporteSecundario.materiales"
											md-item-text="queryValue" 
											md-require-match="false"
											md-floating-label="Materiales" 
											md-dropdown-items="3"
											ng-blur="unidadDocumental.caracteristicasFisicas.soporteSecundario.materiales = searchTextMaterialSecundario">
										<md-item-template>
											<span md-highlight-text="searchTextMaterialSecundario">{{queryValue}}</span>
										</md-item-template>
									</md-autocomplete>

									<div layout-gt-sm="row">
										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (ancho)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soporteSecundario.dimension.ancho">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Dimensión (alto)</label>
											<input type="number" min="1" ng-model="unidadDocumental.caracteristicasFisicas.soporteSecundario.dimension.alto">
										</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Unidad de medida</label>
											<md-select ng-model="unidadDocumental.caracteristicasFisicas.soporteSecundario.dimension.unidad">
												<md-option value="cm">cm</md-option>
												<md-option value="in">in</md-option>
											</md-select>
										</md-input-container>
									</div>

									<!-- Inscripciones -->
									<div ng-repeat="inscripcion in unidadDocumental.caracteristicasFisicas.soporteSecundario.inscripciones">
										<div layout-gt-sm="row">
											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (transcripción)</label>
												<input ng-model="inscripcion.transcripcion" ng-blur="agregaInscripcionSecundario(inscripcion.transcripcion)">
											</md-input-container>

											<md-input-container class="md-block" flex-gt-sm>
												<label>Inscripciones (ubicación)</label>
												<input ng-model="inscripcion.ubicacion">
											</md-input-container>
										</div>
									</div>
								</div>

								<div layout-gt-sm="row" ng-repeat="sello in unidadDocumental.caracteristicasFisicas.sellos">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Sellos (transcripción)</label>
										<input ng-model="sello.transcripcion" ng-blur="agregarSello(sello.transcripcion)">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Sellos (ubicación)</label>
										<input ng-model="sello.ubicacion">
									</md-input-container>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Documentación asociada">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaMismoNegativo">
									<label>Fotografía creada a partir del mismo negativo</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaMismoNegativo(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaBase">
									<label>Fotografía base</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaBase(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.reprografia">
									<label>Reprografía</label>
									<input ng-model="value.text" ng-blur="agregarReprografia(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaMismaSecuencia">
									<label>Fotografía de la misma secuencia</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaMismaSecuencia(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaConsecutiva">
									<label>Fotografía consecutiva</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaConsecutiva(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaConsecutivaOtraCamara">
									<label>Fotografía consecutiva con otra cámara</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaConsecutivaOtraCamara(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.fotografiaEncuadreSimilar">
									<label>Fotografía con encuadre similar</label>
									<input ng-model="value.text" ng-blur="agregarFotografiaEncuadreSimilar(value.text)"></input>
								</md-input-container>

								<md-input-container class="md-block" ng-repeat="value in auxiliar.grabadoRelacionado">
									<label>Grabado relacionado</label>
									<input ng-model="value.text" ng-blur="agregarGrabadoRelacionado(value.text)"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Publicaciones">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block" ng-repeat="value in auxiliar.publicaciones">
									<label>Publicación</label>
									<input ng-model="value.text" ng-blur="agregarPublicacion(value.text)">
								</md-input-container>
								<!-- <md-autocomplete flex ng-repeat="value in auxiliar.publicaciones"
										md-items="queryValue in autocomplete(searchTextPublicaciones, 'publicaciones.publicacion')" 
										md-search-text="searchTextPublicaciones" 
										md-selected-item="value.text"
										md-item-text="queryValue" 
										md-require-match="false"
										md-floating-label="Publicación" 
										md-dropdown-items="3"
										ng-blur="value.text = searchTextPublicaciones; agregarPublicacion(value.text)">
									<md-item-template>
										<span md-highlight-text="searchTextPublicaciones">{{queryValue}}</span>
									</md-item-template>
								</md-autocomplete> -->

								<md-input-container class="md-block" ng-repeat="value in auxiliar.exposicion">
									<label>Exposición</label>
									<input ng-model="value.text" ng-blur="agregarExposicion(value.text)"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Notas">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Notas</label>
									<textarea ng-model="unidadDocumental.notas.notas"></textarea>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
					<!-- <md-tab label="Control de la descripción">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Documentalistas</label>
									<input ng-model="unidadDocumental.controlDescripcion.documentalistas"></input>
								</md-input-container>
							</div>
						</md-content>
					</md-tab> -->
					<md-tab label="Datos adicionales">
						<md-content layout-padding>
							<div>
								<md-input-container class="md-block">
									<label>Imagen</label>
									<input type="file" accept="image/*" ng-model="unidadDocumental.adicional.imagen" onchange="angular.element(this).scope().uploadFile(this)">
									<div ng-show="unidadDocumental.adicional.imagen">
										<img id="img-preview" ng-src="{{'files/imagenes/' + unidadDocumental.adicional.imagen}}" style="max-width: 100%; height: auto;">
										<br>
										<md-button class="md-warn" ng-click="borrarImagen()">Borrar imagen</md-button>
									</div>
								</md-input-container>

								<md-input-container class="md-block">
									<!-- <label>Visibilidad</label> -->
									<md-checkbox ng-model="unidadDocumental.adicional.isPublic">
										La unidad documental es pública
									</md-checkbox>
								</md-input-container>
							</div>
						</md-content>
					</md-tab>
				</md-tabs>

				<md-button type="submit" class="md-raised md-primary" ng-if="!edit" ng-click="enviarUnidadDocumental()">Guardar unidad documental</md-button>
				<md-button type="submit" class="md-raised" ng-if="!edit" ng-click="enviarUnidadDocumental(true)">Guardar y crear nuevo</md-button>
				<md-button type="submit" class="md-raised md-primary" ng-if="edit" ng-click="editarUnidadDocumental()">Editar unidad documental</md-button>
			</form>
		</md-content>
	</div>
</div>

<!-- <br>
<pre>{{unidadDocumental | json}}</pre> -->