<div layout="row" layout-align="center">
	<div flex="80">
		<h3 class="md-display-2">Lista de usuarios</h3>

		<md-list>
			<md-list-item class="md-2-line secondary-button-padding" ng-repeat="usuario in usuarios">
				<div class="md-list-item-text" layout="column">
					<h3>{{usuario.username}} <small ng-if="usuario.email">({{usuario.email}})</small></h3>
					<p>Permisos: {{usuario.permisosFormatted}}</p>
					<md-button class="md-secondary" ng-click="editUser(usuario)">
						<i class="material-icons" style="vertical-align: middle;">edit</i>
					</md-button>
					<md-button class="md-secondary" ng-click="showDialogDelete(usuario, $event)">
						<i class="material-icons" style="vertical-align: middle;">delete</i>
					</md-button>
					<!-- <md-menu class="md-secondary">
						<md-button class="md-icon-button">
							<i class="material-icons">edit</i>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item>
								<md-button ng-click="editUser(usuario, $event)">
									Editar
								</md-button>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item>
								<md-button ng-click="showDialogDelete(usuario, $event)">
									Borrar
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu> -->
				</div>
			</md-list-item>
		</md-list>

		<md-button class="md-fab md-primary md-fab-bottom-right md-button" aria-label="Crear usuario" ng-click="createUser()">
			<i class="material-icons" style="font-size: 36px; vertical-align: middle;">add</i>
        </md-button>
	</div>
</div>

<!-- <br>
<pre>{{usuarios | json}}</pre> -->